<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Ninja Gold!</title>
		 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

	</head>

	<body>
	<div id="container">
		<h1 id='your_gold'>Your Gold: {{session['count']}}</h1>


		<div id="main_content">


			<div class="routes_gold">
				<h1> Farm </h1>
				<h3> (earns 10-20 golds) </h3>
				<form method='post' action='/farm'>
					<input type='submit' value='Find Gold!' name='farm'>
				</form>
			</div>

			<div class="routes_gold">
				<h1> Cave </h1>
				<h3> (earns 5-10 golds) </h3>
				<form method='post' action='/cave'>
					<input type='submit' value='Find Gold!' name='cave'>
				</form>
			</div>

			<div class="routes_gold">
				<h1> House </h1>
				<h3> (earns 2-5 golds) </h3>
				<form method='post' action='/house'>
					<input type='submit' value='Find Gold!' name='house'>
				</form>
			</div>

			<div class="routes_gold">
				<h1 id='last_childh1'> Casino </h1>
				<h3 id='last_childh3'> (earns/takes 0-50 golds) </h3>
				<form method='post' action='/casino'>
					<input type='submit' value='Find Gold!' name='casino'>
				</form>
			</div>

		</div>

		<div>Activities: {{session['message']}}</div>
	</div>
	</body>

</html>

  </body>
</html>
